html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.app {
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.spinner {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  border: 0.1em solid lightgrey;
  border-top: 0.1em solid grey;
  animation: spin 0.8s infinite linear
}

.spa-load-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  font-size: 48px
}