.table
  min-width: 100%
  border-collapse: collapse

  @media (min-width: 540px)
    min-width: 500px

  th
    background: lightgrey
    line-height: 2
    cursor: pointer

  th
  td
    text-align: left
    padding: 0.4em 0.5em
    
  td
    border: 1px solid lightgrey

  &__sort-arrow
    font-size: smaller
    margin-left: 0.5em

.searchable-table
  padding: 1em

  > *:not(:last-child)
    margin-bottom: 1em

  &__search-input
    border: 1px solid lightgrey
    max-width: 300px
    width: 100%
    line-height: 2
    padding: 0 0.5em

.searchable-table__found-text
  background: yellow